@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/loader";
@import "./layout/header";
@import "./layout/container";
@import "./layout/main-search";
@import "./layout/main-fonctionnement";
@import "./layout/main-restaurants";
@import "./layout/footer";
@import "./layout/menu";
@import "./layout/form";
@media screen and (min-width: 768px) {
    //Page d'accueil 
    .btn {
        width: 350px;
        height: 80px;
        font-size: 25px;
    }
    header h1 {
        font-size: 50px;
    }
    .fonctionnement {
        &__list {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .restaurant__card {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        flex-direction: row;
        max-width: 500px;
        width: 40%;
        height: 250px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 25px 0 0 25px;
        }
        &__image {
            height: 100%;
            width: 60%;
            &--new {
                height: 100%;
                width: 60%;
            }
            &--new p {
                left: 8%;
                bottom: 90%;
            }
        }
        &__text {
            &__description {
                margin-top: 30px;
            }
            width: 40%;
            &__heading {
                font-size: 25px;
            }
            &__byline {
                margin-top: 20px;
                font-size: 20px;
            }
            &__heart i {
                right: 90px;
                top: 180px;
                font-size: 40px;
            }
        }
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        a {
            font-size: 18px;
        }
    }
    //page menus
    main {
        display: flex;
        flex-direction: column;
    }
    .imagedefond {
        width: 100%;
        height: 2000px;
        object-fit: cover;
        opacity: 0.5;
        max-width: 100%;
        img {
            height: 100%;
        }
    }
    .header__menu {
        a {
            .fa-arrow-left-long {
                font-size: 40px;
                opacity: 0.5;
            }
            h1 {
                padding-left: 0;
                justify-content: center;
                display: flex;
                font-size: 50px;
            }
        }
    }
    .choice {
        &__list {
            max-width: 350px;
            opacity: 0.8;
            width: 90%;
            max-width: 400px;
            border-radius: 50px;
            height: 120px;
            &:hover .choice__spin {
                border-radius: 0 50px 50px 0;
                height: 120px;
            }
        }
        &__menus {
            &__describ {
                margin: 0px 0 0 25px;
                height: 60px;
                width: 88%;
                h4 {
                    font-size: 18px;
                }
                p {
                    font-size: 14px;
                }
            }
            &__price {
                width: 20%;
            }
        }
    }
    .menus {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    .listemenus {
        background-color: transparent;
        width: 100%;
        max-width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        &__title {
            display: flex;
            flex-direction: row-reverse;
            H2 {
                max-width: 100%;
                text-align: center;
                width: 400px;
                height: 150px;
                font-size: 50px;
                color: $colour-violet;
                line-break: auto;
                text-shadow: 5px 4px 4px $colour-hover-shadow;
            }
        }
    }
    .listemenus__heart i {
        right: 9%;
        top: 30px;
        font-size: 80px;
    }
    .choice__title {
        font-weight: bold;
    }
    .choice__one {
        width: 80%;
        max-width: 450px;
        border-radius: 50px;
        box-shadow: 4px 6px 20px -6px $colour-grey;
        margin: 0 0 20px 0;
        padding: 0 0 30px 0;
    }
    .choice__two {
        border-radius: 50px;
        width: 80%;
        max-width: 450px;
        box-shadow: 4px 6px 20px -6px $colour-grey;
        margin: 0 0 20px 0;
        padding: 0 0 30px 0;
    }
    .choice__three {
        border-radius: 50px;
        width: 80%;
        max-width: 450px;
        box-shadow: 4px 6px 20px -6px $colour-grey;
        padding: 0 0 30px 0;
        margin: 0 0 20px 0;
    }
    .btn__choice {
        opacity: 0.9;
        font-family: "Shrikhand", sans-serif;
        margin: 0;
        &:hover {
            opacity: 1;
        }
    }
}

@media screen and (min-width: 1024px) {
    .listemenus__heart i {
        right: 20%;
    }
    .imagedefond {
        height: 900px;
    }
    .menus {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .choice {
        &__menus {
            &__describ {
                height: 70px;
                &:hover {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                h4 {
                    text-overflow: clip;
                    white-space: initial;
                    overflow: hidden;
                    &:hover {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                p {
                    text-overflow: clip;
                    white-space: initial;
                    overflow: hidden;
                    &:hover {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }
        &__list {
            width: 90%;
            height: 115px;
            max-width: 400px;
            &:hover .choice__spin {
                height: 115px;
            }
        }
        &__one {
            width: 30%;
            margin: 0 30px 0 0;
            padding: 0;
            height: 550px;
        }
        &__two {
            width: 30%;
            margin: 0 30px 0 0;
            padding: 0;
            height: 550px;
        }
        &__three {
            width: 30%;
            margin: 0 0 30px 0;
            padding: 0;
            height: 550px;
        }
    }
    .btn {
        margin: 40px 0 0 0;
    }
}