footer {
    z-index: 2;
    width: 100%;
    height: auto;
    background-color: rgba(26, 24, 24, 0.753);
    padding: 10px 0 20px 10px;
    a {
        display: flex;
        flex-direction: row;
        color: $colour-white;
        font-size: 17px;
        padding: 5px;
        .fa-utensils {
            color: $colour-white;
        }
        .fa-hands-helping {
            color: $colour-white;
        }
        p {
            padding-left: 15px;
            ;
        }
        h4 {
            font-weight: 100;
            padding: 5px;
        }
    }
}