.center_div {
    animation: disappear 2s forwards;
    display: grid;
    place-items: center;
    background: $colour-white;
    position: fixed;
    height: 100vh;
    inset: 0;
    z-index: 5;
    h1 {
        font-size: 80px;
        padding: 20px;
        color: $colour-secondary;
        position: relative;
        &::before {
            content: "ohmyfood";
            width: 100%;
            background-image: -webkit-linear-gradient($colour-turquoise, $colour-pink, $colour-violet);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: auto 75%;
            position: absolute;
            padding: 20px;
            left: 0;
            top: 0;
            -webkit-animation: slide 2s linear forwards;
            animation: slide 2s linear forwards;
        }
    }
}

@keyframes disappear {
    to {
        visibility: hidden;
    }
}

@keyframes slide {
    0% {
        max-width: 0%;
    }
    100% {
        max-width: 100%;
        visibility: hidden;
    }
}