.search {
    background-color: $colour-secondary;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 30px 0;
    &__location {
        background-color: #e4e4e4c5;
        padding: 20px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        box-shadow: inset 0px 4px 8px rgb(180, 175, 175);
        justify-content: center;
        &__input {
            background-color: transparent;
            border: 0;
            outline: none;
            padding-left: 10px;
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                color: black;
                font-size: 17px;
            }
        }
    }
    h2 {
        margin: 30px 0 10px 0;
        text-align: center;
    }
    p {
        text-align: center;
    }
}