.btn {
    &__choice {
        padding: 17px 25px;
        margin-top: 50px;
        width: 50%;
        align-items: center;
        margin: 10% 25% 0% 25%;
        &:hover {}
    }
    @include btn
}