@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size) {
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

@mixin btn {
    margin: 6% 10% 0 10%;
    text-align: center;
    transition: 0.5s;
    border-radius: 50px;
    box-shadow: 4px 6px 20px -6px $colour-grey;
    border: transparent;
    cursor: pointer;
    padding: 25px 35px;
    background-size: 200% auto;
    color: $colour-white;
    background-image: linear-gradient( to bottom, $colour-pink, $colour-violet 100%);
    transition: opacity .3s;
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}