$colour-primary: black;
$colour-secondary: #F2F2F2;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-violet: #9356DC;
$colour-pink:#FF79DA;
$colour-turquoise:#99E2D0;
$colour-grey: grey;
$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;